<?xml version="1.0"?>
<model>
  <name>cgo3_matrice_px4</name>
  <version>1.0</version>
  <sdf version='1.5'>cgo3_matrice_px4.sdf</sdf>

  <author>
   <name>Roman Bapst</name>
   <email>roman@px4.io</email>
  </author>

  <description>
    CGO3 gimbal model variant for matrice_px4_cgo3.
  </description>
</model>
